<p><%= t('devise.mailer.reset_password_instructions.greeting', recipient: @resource.first_name) %></p>

<p><%= t('devise.mailer.reset_password_instructions.instruction') %></p>

<%= t('devise.mailer.reset_password_instructions.action') %>

<p><%= link_to 'Reset', user_edit_password_url(reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.instruction_2') %></p>
<p><%= t('devise.mailer.reset_password_instructions.instruction_3') %></p>
